<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="cor, idx in cores">{{ idx + 1 }}) {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="cor, idx in cores">
        <h1>{{ cor }}</h1>
        <p>{{ idx }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="valor, key, idx in pessoa">
                {{ key }} - {{ valor }} - {{ idx }}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 89 },
            ]

        }
    })
</script>

<style>
    h1, p {
        display: inline;
    }
</style>